faster_whisper
# NOTE: tflite-runtime does not seem to work so for now it is commented out
# try `pip3 install --extra-index-url https://google-coral.github.io/py-repo/ tflite_runtime`
#tflite-runtime
openwakeword
colorama
# NOTE: will be removed soon
pyaudio
sounddevice
numpy==1.24.0
